body{
	margin:0 auto;
	// background: #f0f0f0;
}
ul{list-style:none;padding:0;margin:0;}

.datalist{
	overflow:hidden;font-size:12px;
	img{height:120px;}
	li{float:left;margin:10px;width:100px;height:160px;overflow:hidden;}
	h4{margin:0;}
}

.mint-tabbar{
	background-color:#fff;
}
.mint-cell-wrapper{
	padding:0 95px;
}
.mint-searchbar{
	background: none!important;
	width:80%;
	margin:0 auto;
}
.mint-search{
	height:7vh!important;
	background: #fff;
	.mint-searchbar-inner{
		background: #f0f0f0;
		border-radius:5px;
		.mintui-search{
			font-size: 25px;
			text-align: center;
		}
		.mint-searchbar-core{
			background: #f0f0f0;
		}
	}
	
}
.mint-navbar .mint-tab-item.is-selected{
	border-bottom:0!important;
}
.banner{
	img{
		height:150px;
	}
}
.list{
	margin-top:20px;
	padding:0 10px;
	background: #fff;;
	img{
		max-width:100%;
		height:auto;
		box-sizing:border-box;
		vertical-align:middle;
	}
	.desc{
		margin-top:5px;
		color:#999;
		font-size:14px;
		word-wrap:break-word;
	}
}
.uk-list{
	padding:0;
	list-style:none;
	margin:0 0 15px 0;
	background: #fff;
	.section-item{
		padding-top:9px;
		padding-bottom:12px;
		border-bottom:4px solid #f0f0f0;
		.uk-list>li>:last-child {
			margin-bottom: 0;
		}
		.uk-flex-wrap {
			-ms-flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			flex-wrap: wrap;
		}
		.uk-flex-space-around {
			-ms-flex-pack: distribute;
			-webkit-justify-content: space-around;
			justify-content: space-around;
		}

		.uk-flex {
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
		}
		.uk-width-1-1 {
			width: 100%;
		}
		[class*=uk-width] {
			box-sizing: border-box;
			width: 100%;
		}
		.links{
			color: #999;
			font-size:16px;
			text-decoration: none;
		}
		.item{
			margin-top:20px;
		}
		img{
			border:0;
			max-width:100%;
			height:auto;
			box-sizing:border-box;
			vertical-align: middle;
		}
	}
}
.uk-text-center {
    text-align: center!important;
}

.uk-text-large {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}
// .row-item {
//     width: 80px;
//     margin-right: 8px;
// 	overflow: hidden;
// 	text-overflow: ellipsis;
// 	white-space: nowrap;
// 	.row-item img {
//     width: 80px;
//     height: 80px;
// }
// }
.row-item{
	display: grid;
}